@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
}
.main{
    display: flex;
    height: 90vh;
}

.left{
    height: 90vh;
    width: 15%;
    background-color: black;
}
.right{
    height: 90vh;
    width: 85%;
    background-color: rgb(24, 22, 22);
}
.items{
    width: 100%;
    padding-top: 25px;
padding-left: 25px;
     
}
.logo{
    width: 65%;
    margin-bottom: 20px;
}

.item{ font-weight: 500;
    color: rgb(193, 190, 190);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item i{
    margin-right: 8px;
}
/*
hover color  is used for when we put curser o  text then the color of the text   */
.items :hover{
    color: white;
}
.footer{
    height: 10vh;
    width: 100%;
 background:linear-gradient( to right,rgb(186, 30, 186) ,rgb(82, 183, 230));
 color: white ;
 padding: 10px;
 padding-left: 40px;
 padding-right: 40px;
 display: flex;
 justify-content:  space-between;
 align-items: center;

}
.previwe{

    font-size: 15px;
}
.singup-text{
    font-size: 20px;
}

.footer-btn{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
    align-items: center;
}

.footer-btn button{
    height: 80%;
    width: 150px;
    border-radius: 18px;
    border: none;
    font-weight: 700;
    background-color: white;
    
}
.footer-btn button:hover{

    transform: scale(1.1);
    /* transfrorm is used  for trensform when we hover on that scale is used for increing size*/
}
.navbar{
    height: 8vh;
 background-color: black;
 width: 100%;
}
.card{
    height: 280px;
    width: 190px;
    background-color: rgba(2, 2, 2, 0.543);
    border-radius: 5px;
    padding: 10px;
}
.cards{
    display: grid;
    /*CSS Grid Layout excels at dividing a page into major regions or defining the relationship in terms of size, position, and layer, between parts of a control built from HTML primitives */
    grid-template-columns: auto auto auto auto auto auto;
    /*The grid-template-columns property specifies the number (and the widths) of columns in a grid layout. The values are a space separated list, where each value specifies the size of the respective column*/

    height: 82vh;
     width: 100%;
     background-color: rgb(58, 56, 56); 
     padding-top: 30px;
     justify-content: center;
     gap: 25px;
     overflow-y: scroll;
     /* over flow scroll is used for if any thing is over flow then it show when we scroll*/
}
.card img{
    height: 180px;
    width: 100%;
    border-radius: 5px;
}
.card h2{
    color: white;
    font-size: 15px;
    
}
.disc{  color: white;
    margin-top: 8px;
    display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}